<div class="page-container">
  <div class="content">
    <h2>YReduxSocket: Demoprojekt</h2>
    <h3>Teil 1: Traditioneller Ansatz</h3>
    <app-demo-item-overview></app-demo-item-overview>
    <div class="flex w-full mt-2">
      <div>
        <app-demo-item-list></app-demo-item-list>
      </div>
      <div class="ml-4">
        <app-demo-item-add></app-demo-item-add>
        <app-demo-item-detail class="ml-2"></app-demo-item-detail>
      </div>
    </div>
  </div>

  <div class="footer-background text-sm p-3">
    <div class="flex justify-content-center flex-wrap pt-1 pb-2">
      <div class="pr-4">YReduxSocket: Ein Werkzeug zur Synchronisation und Konsistenz in Webanwendungen</div>
      <div>Abschlussarbeit am LG Kooperative Systeme der FernUniversität in Hagen.</div>
    </div>
    <div class="flex justify-content-center pb-1">
      <div class="pr-4">Informatik Bachelor of Science</div>
      <div class="pr-4">Ricardo Stolzlechner 9463470</div>
      <div>Betreuerin: Dr. Lihong Ma</div>
    </div>
  </div>
</div>



