<div class="page-container">
  <div class="content">
    <h3>YReduxSocket: Demoprojekt</h3>
    <div>Inhalt hier</div>
  </div>

  <div class="footer-background text-sm p-3">
    <div class="flex justify-content-center flex-wrap pt-1 pb-2">
      <div class="pr-4">YReduxSocket: Ein Werkzeug zur Synchronisation und Konsistenz in Webanwendungen</div>
      <div>Abschlussarbeit am LG Kooperative Systeme der FernUniversität in Hagen.</div>
    </div>
    <div class="flex justify-content-center pb-1">
      <div class="pr-4">Informatik Bachelor of Science</div>
      <div class="pr-4">Ricardo Stolzlechner 9463470</div>
      <div>Betreuerin: Dr. Lihong Ma</div>
    </div>
  </div>
</div>



