/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";

//App Comp
body, html {
  height: 100%;
  margin: 0;
}
.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1;
  padding: 0 2rem 2rem;
  overflow: auto;
}
.footer-background {
  background-color: #f4f4f4;
  color: #333;
  padding: 1rem 0;
  text-align: center;
}

//Table
.table-auto {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  background-color: #aaaaaa;
  color: white;
}

//button
.add-button, .save-button, .cancel-button {
  background-color: #4c51af; /* Green background */
  color: white; /* White text */
  padding: 8px 16px; /* Padding */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  margin-right: 8px; /* Margin right */
  border-radius: 4px; /* Rounded corners */
}

.save-button:disabled {
  background-color: #cccccc; /* Gray background for disabled */
  color: #666666; /* Dark gray text for disabled */
  cursor: not-allowed; /* Not allowed cursor for disabled */
}

.cancel-button {
  background-color: #f44336; /* Red background for cancel */
}

.input-field {
  width: 100%; /* Full width */
  padding: 8px; /* Padding */
  margin: 5px 0; /* Margin top and bottom */
  display: inline-block; /* For inline layout */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Box sizing */
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.col-label {
  text-align: right;
  padding-right: 10px; /* Align labels to right and add some padding */
}

.col-input {
  text-align: left;
}

.mb-2 {
  margin-bottom: 16px; /* Margin bottom for spacing */
}
